<a href="https://colab.research.google.com/github/LINRU0209/Introduction-to-Computers/blob/main/%E7%B5%B1%E8%A8%881A410651185%E6%9E%97%E4%BB%B2%E5%84%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hi")

hi

In [2]:
i = range(5)

In [3]:
print(type(i))

<class 'range'>

In [4]:
print(i)

range(0, 5)

In [7]:
print(list(i))

[0, 1, 2, 3, 4]

In [8]:
j = range(10)

In [9]:
print(type(j))

<class 'range'>

In [10]:
print(list(j))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [14]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [18]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [19]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [20]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [22]:
f = range(0,9,1)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
g = range(1,10,1)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [29]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [33]:
for n in range(3):
    print(n, end=",")

0,1,2,

In [34]:
for n in range(10):
    print(n, end=",")

0,1,2,3,4,5,6,7,8,9,

In [36]:
test = int(input("請輸入一個正整數:"))
for m in range(1,test+1):
    print(m,end=" ")

請輸入一個正整數:10
1 2 3 4 5 6 7 8 9 10

In [37]:
test = int(input("請輸入一個正整數:"))
for m in range(1,test+1,2):
    print(m,end=" ")

請輸入一個正整數:10
1 3 5 7 9

In [39]:
sum = 0
for n in range(3):
    sum =sum+n
print(sum)

3

In [40]:
sum = 0
for n in range(5):
    sum =sum+n
print(sum)

10

In [51]:
p = int(input("請輸入一個正整數"))
sum = 0
for n in range(1,p+1):
    sum =sum+n
print("1到10的整數合為",sum)

請輸入一個正整數10
1到10的整數合為 55

In [58]:
q = int(input("請輸入一個正整數"))
sum = 0
for n in range(1,q+1):
    sum =sum+n
print("1到50的整數合為",sum)

請輸入一個正整數50
1到50的整數合為 1275

In [57]:
r =int(input("請輸入一個正整數"))
sum=0
for n in range(1,r+1):
    sum=sum=n
    print("1到",n,"的整數合為:",sum)

請輸入一個正整數10
1到 1 的整數合為: 1
1到 2 的整數合為: 2
1到 3 的整數合為: 3
1到 4 的整數合為: 4
1到 5 的整數合為: 5
1到 6 的整數合為: 6
1到 7 的整數合為: 7
1到 8 的整數合為: 8
1到 9 的整數合為: 9
1到 10 的整數合為: 10